<nav>
    <ul>
        <a href="{% url 'personal_data' %}"><li>Personal Data</li></a>
        
        <a href="{% url 'skills' %}"><li>Skills</li></a>
        
        <a href="{% url 'languages' %}"><li>Languages</li></a>
        
        <a href="{% url 'education' %}"><li>Education</li></a>
        
        <a href="{% url 'certification' %}"><li>Certification</li></a>

        <a href="{% url 'experience' %}"><li>Experience</li></a>

        <a href="{% url 'cv' %}"><li>CV</li></a>
        
    </ul>
</nav>
