<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/cv_style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">    <script src="https://kit.fontawesome.com/6015f6d8cd.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="page">
        <header>
            <div class="profile">
                <img src="{{personalData.photo}}"/>
                
            </div>
            <div class="information">
                <div class="personal">
                    <h1>{{personalData.name}} {{personalData.surname}}</h1>
                    <h2>Software Developer</h2>
                </div>
                <div class="contact">
                    <div>
                        
                        <div class="contact-elem">
                            <i class="fa-solid fa-phone"></i>
                            <a href="tel:{{personalData.phone_number}}">{{personalData.phone_number|slice:":3"}} {{personalData.phone_number|slice:"3:6"}} {{personalData.phone_number|slice:"6:9"}} {{personalData.phone_number|slice:"9:12"}}</a>
                        </div>
                        <div class="contact-elem">
                            <i class="fa-solid fa-location-dot"></i>
                            {{personalData.city}}
                        </div>
                    </div>
                    <div>
                        <div class="contact-elem">
                            <i class="fa-sharp fa-solid fa-envelope"></i>
                            <a href="mailto:{{personalData.email}}">{{personalData.email}}</a>
                        </div>
                        <div class="contact-elem">
                            <i class="fa-brands fa-github"></i>
                            <a href="{{personalData.github}}">{{personalData.github|slice:"8:"}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="left-col">
                <section>
                    <h1>Skills</h1>
                    <ul>
                        {% for skill in skillData %}
                            <li>{{skill.skill_name}}</li>
                        {% endfor %}

                    </ul>
                </section>
                <hr>
                <section>
                    <h1>Languages</h1>
                    <div class="languages-container">
                        <div class="languages">
                            {% for language in languageData %}
                                <p>{{language.language}}</p>
                            {% endfor %}
                        </div>
                        <div class="languages-level">
                            {% for language in languageData %}
                                <p>{{language.level}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </section>
                <hr>
                <section>
                    <h1>Education</h1>
                    {% for education in educationData %}
                    <div class="studies">
                        <h3>{{education.start_date|date:"Y"}} - {{education.end_date|date:"Y"}}</h3>
                        <h4>{{education.level}}, 
                            {{education.name}}</h4>
                        <h3>{{education.university_name}}</h3>
                    </div>
                    {% endfor %}
                </section>
                <hr>
                <section>
                    <h1>Certifications</h1>
                    {% for certification in certificationData %}
                        <div onclick="window.location.href = '{{certification.url}}'" class="cert">{{certification.name}}</div>
                    {% endfor %}
                </section>
                
            </div>
            <div class="right-col">
                <section>
                    <h1>About me</h1>
                    <a>{{personalData.about_me}}</a>
                </section>
                <section>
                    <h1>Experience</h1>
                    {% for experience, period in experienceData %}
                        {% with index=forloop.counter0 %}

                    {{experiece}}
                    <div class="experience">
                        <h2> {{ experience.start_date|date:"Y" }}-{{ experience.start_date|date:"m" }} - {{experience.end_date|slice:":7"}} ({{period}})</h2>
                        <h3>{{experience.position_name}} | {{experience.company_name}}</h3>
                        <ul>
                            {% for resposibility in experience.responsibilites %}
                            <li>{{resposibility}}</li>

                            {% endfor %}
                        </ul>
                    </div>
                    {% endwith %}
                    {% endfor %}

                </section>
            <div class="rodo">
                <p>I agree to the processing of personal data provided in this document for realising the recruitment process pursuant to the Personal Data Protection Act of 10 May 2018 (Journal of Laws 2018, item 1000) and in agreement with Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC (General Data Protection Regulation)</p>
            </div>
            </div>
        </main>
    
    </div>

<script>
    function updateScale() {
        const pageElement = document.querySelector('.page');
        if (window.innerWidth > 1000) {
            const scaleValue = 0.97 * (window.innerHeight / pageElement.offsetHeight);
            pageElement.style.transform = `scale(${scaleValue})`;
        } else {
            // Reset scale to 1 if width is 1000 or less
            const scaleValue = 1 * (window.innerWidth / pageElement.offsetWidth);
            pageElement.style.transform = `scale(${scaleValue})`;
        }
    }


    // Initial scale update
    updateScale();

    // Update scale on window resize
    window.addEventListener('resize', updateScale);
    
  </script>
</body>
</html>