{% extends '_base.html' %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ educationForm.as_div }}
        <button type="submit">Submit</button>
    </form>

    {% for education in allEducation  %}
        <div class="language">
            {{education.start_date|date:"Y"}} - {{education.end_date|date:"Y"}}<br>
            {{education.level}}, {{education.name}}<br>
            {{education.university_name}}
        </div>
        
    {% endfor %}
{% endblock %}