body {
    margin: 0;
    padding: 0;
    background-color:#5959596b;
    font-family: 'Outfit';
    overflow-y: hidden;
    overflow-x: hidden;
  }

  main .left-col a, a:active, a:link{
    color: black;
}

.page {
    width: 8.3in;
    height: 11.7in;
    background-color: white;
    margin: 10px auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.452);
    transform-origin: top ;
    transition: transform 0.5s ease;
}

header{
    display: flex;
    height: 25%;
}

.profile{
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: center;
  }

.profile img{
    width: 76%;
  }

.information{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.information h1{
    font-size: 48px;
    margin: 20px 0px;
    font-weight: 600;

}

.information h2{
    font-size: 28px;
    font-weight: 400;
    color: #595959;
    margin: 10px 0px;

}

.information .contact{
    display: flex;
    flex-wrap: wrap;
}


.information .contact div{
    margin-right: 10px;
    font-size: 1.1rem;
}

.information .contact .contact-elem{
    padding: 10px 10px 10px 0px;
}

.information .contact .contact-elem a, a:active, a:link{
    text-decoration: none;
    color: black;
}
.information .contact .contact-elem i{
    margin-right: 10px;
}

main {
    display: flex;
    width: 100%;
    height: 75%;
}
hr{
    width: 75%;
    border: 1px solid rgba(0, 0, 0, 0.16);
}
main .left-col{
    width: 35%;
    height: 100%;
    background-color: #F3F3F3;
    padding-top: 2px;
}

main .left-col section{
    padding: 0px 40px;
    ;
}
main .left-col section h1{
    font-weight: 500;
}
main .left-col section ul {
    padding-inline-start: 20px;
}
main .left-col section ul li{
    font-weight: 300;
    color: #595959;
    font-size: 17px;
}

main .left-col section .languages-container{
    display: flex;
    justify-content: space-between;
}

main .left-col section .languages-container .languages, .languages-level{
    justify-content: space-between;
    font-size: 17px;
}

main .left-col section .languages-container .languages p, .languages-level p{
    margin: 5px 0px;
}

main .left-col section .languages-container .languages{
    font-weight: 300;
}

main .left-col section .studies{
    margin: 14px 0px;
}

main .left-col section .studies > * {
    margin: 2px 0px;
    font-size: 17px;

}

main .left-col section .studies h3{
    font-weight: 300;
}

main .left-col section .cert{
    margin: 2px 0px;
    font-size: 14px;
    cursor: pointer;
}

main .right-col{
    width: 65%;
    height: 100%;
    position: relative;

}

main .right-col section{
    margin: 30px;
    text-align: justify;
}

main .right-col .experience{
    margin-bottom: 20px;
}

main .right-col .experience > *{
    margin: 4px;
    text-align:left;
}

main .right-col section h1{
    margin: 10px 0px;
}

main .right-col section h2{
    font-size: 17px;
    font-weight: 300;
}
main .right-col section a{
    font-weight: 200;
}
main .right-col section h3{
    font-size: 20px;
    font-weight: 500;

}

main .right-col section ul li{
    font-size: 16px;
    font-weight: 300;
}

main .right-col .rodo{
    position: absolute;
    bottom: 0;
    margin: 10px;
    text-align: justify;
    font-size: 10px;
    font-weight: 200;
    margin-top: auto;

}

@media (max-width: 1000px) {
    .page{
        /* display: none; */
        transform-origin: top left;
        transform: scale(0);
    }
    body{

    }
}

.fa-2xs{
    cursor: pointer;
}

body.download{
    overflow-y: scroll;
    overflow-x: scroll;
}

.page.download{
    margin: 0px;
    transform: scale(1);
    height: 11.73in;
}

#download-button.download{
    display: none;
}