body {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Outfit';

}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

li{
    cursor: pointer;
    border-radius: 15px;
    background-color: darkgrey;
    padding: 10px;
    margin: 5px;
    transition: all 0.3s ease;
}

li:hover{
    background-color: dimgrey;
    color: aliceblue;
}

a{
    color: black;
    text-decoration: none;
}

div{
    margin: 10px;
}

.as-div-class{
    width: 60%;
    margin: auto;
}

.as-div-class form{
    display: flex;
    flex-direction: column;
}

.as-div-class div{
    padding: 2px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}

.as-div-class button{
    width: 60%;
    margin: auto;
    cursor: pointer;
}

.as-div-class .fieldItem {
    padding: 5px;
    background-color: rgb(202, 202, 202);
    margin: 1px;
    cursor: pointer;
    /* width: 50%; */
    margin: 1px auto;
    color: rgba(0, 0, 0, 0.103);
}

.as-div-class .fieldItem.active {
    padding: 5px;
    background-color: rgb(90, 90, 90);
    color: white;
}

.as-div-class .language{
    background-color: rgb(90, 90, 90);
    color: white;
    border: 1px solid black;
    width: 100%;
    padding: 4px;
    margin-top: 5px;
}